{% extends "base.html" %}
{% block css %}
<title>生日色彩</title>
{% endblock %}
{% block content %}
<div style="height: 100%;width: 100%;background-color: {{ color.color }};color: {{ color.fontcolor }};
padding-top: 60px;padding-left: 10px;padding-right: 10px;">
    <div style="width: 100%;text-align: left">
        <h2>{{ color.id|noZeroBefore }}</h2>
        <h4>{{ color.cname }}</h4>
        <h5>特征：{{ color.cprop1 }}</h5>
        <h5>花语：{{ color.cprop2 }}</h5>
    </div>

    <!-- Modal Trigger -->
</div>
<div style="width: 100%;bottom: 15px;position: absolute;text-align: center">
    <a href="{{ url_for('web.space',id=color.id) }}" style="color: black;" class="modal-trigger">
        <p style="color: {{ color.fontcolor }}">生日那天的宇宙</p>
    </a>
    <a href="#modal1" style="color: black;" class="modal-trigger">
        <p style="color: {{ color.fontcolor }}">查看原文</p>
    </a>
    <a href="http://birthday-color.cafein.jp/html/{{ color.id }}.html" style="color: black;">
        <p style="color: {{ color.fontcolor }}">访问原网站</p>
    </a>
    <a href="{{ url_for('web.birthcolorList') }}" style="color: black;">
        <p style="color: {{ color.fontcolor }}">回首页</p>
    </a>

</div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>日文原文</h4>
      <p>{{ color.jname1 }}</p>
      <p>{{ color.jname2 }}</p>
      <p>特徴：{{ color.jprop1 }}</p>
      <p>色言葉：{{ color.jprop2 }}</p>
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
    window.onload = function () {
        $("html").css("height", "100%");
        $("body").css("height", "100%");
        $('.modal').modal();
    }
</script>
{% endblock %}