{% extends "base.html" %}
{% block css %}
<title>生日色彩</title>
{% endblock %}
{% block content %}

    <div class="row">
        {% for c in colors %}
            <a href="{{ url_for('web.birthcolor',id=c.id) }}">
                    <div class="col s12 m4" >

                  <div class="card" style="background-color: {{c.color}};height: 160px;">

                    {% if c.fontcolor=="white" %}
                    <div class="card-content white-text">
                    {% else %}
                    <div class="card-content black-text">
                    {%  endif %}
                      <span class="card-title">{{ c.id[0:2] }}月{{ c.id[-2:] }}日</span>
                      <p>{{ c.cprop1 }}</p>
                      <p>{{ c.cprop2 }}</p>
                    </div>
                  </div>
                </div>

            </a>


        {% endfor %}
    </div>
<div class="fixed-action-btn" >
  <a class="btn-floating btn-large blue lighten-3 modal-trigger"  href="#modal1">
    <i class="large material-icons">search</i>
  </a>
</div>
<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="input-field">
        <input id="date" type="text" class="validate">
        <label for="date">输入日期</label>
        <span class="helper-text" data-error="wrong" data-success="right">如：0614</span>
      </div>
    </div>
    <div class="modal-footer">
      <a  class="modal-close waves-effect waves-green btn-flat" id="submit">确认</a>
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
  $(document).ready(function(){
    //$('.fixed-action-btn').floatingActionButton();
    $('.modal').modal();
    $("#submit").click(function () {
        var val = $("#date").val();
        window.location.href="birthcolor/"+val;
    })
  });

</script>
{% endblock %}

